@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

body {
	min-height: 100vh;
	font-family: "Noto Sans TC", "Helvetica Neue";
}

.panel {
	background-color: var(--navy);
	border: 1.5rem solid var(--navy);
	border-bottom-left-radius: 1.5rem;
}

.panel-body {
	/* width: 100%; */
	height: 100%;
	background-color: var(--white);
	border-radius: 1rem;
}