@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
body {
	font-family: "Noto Sans TC", "Helvetica Neue";
}
a:link, a:visited {
    text-decoration: none;
}

a.col {
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    text-align: center;
    justify-content: center;
    color: #460c3c;
    transition: filter .4s;
    h1 {
        font-weight: 900;
    }
    p {
        font-weight: 600;
        font-size: 2rem;
    }

    &:hover {
        filter: brightness(1.2);
    }
}
a.col:nth-child(1) {
    background-color: hsl(254, 100%, 80%);
    color: hsl(255, 88%, 24%);
}
a.col:nth-child(2) {
    background-color: hsl(338, 100%, 80%);
    color: hsl(338, 71%, 24%);
}
a.col:nth-child(3) {
    background-color: hsl(335, 92%, 80%);
    color: hsl(335, 40%, 24%);
}
a.col:nth-child(4) {
    background-color: hsl(255, 27%, 80%);
    color: hsl(255, 66%, 24%);
}
a.col:nth-child(5) {
    background-color: hsl(11, 100%, 80%);
    color: hsl(254, 53%, 24%);
}
a.col:nth-child(6) {
    
    background-color: hsl(25, 100%, 80%);
    color: hsl(25, 46%, 24%);
}
a.col:nth-child(7) {
    background-color: hsl(255, 39%, 80%);
    color: hsl(256, 47%, 24%);
}
a.col:nth-child(8) {
    background-color: hsl(338, 81%, 80%);
    color: hsl(339, 62%, 24%);
}