@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
:root {
	--color1: #3d52a0;
	--color2: #7091e6;
	--color3: #8697c4;
	--color4: #adbbda;
	--color5: #ede8f5;
}

body {
	background-color: var(--color5);
	min-height: 100vh;
	font-family: "Noto Sans TC", "Helvetica Neue";
}
.panel {
	width: fit-content;
	margin: 3rem auto 0;
	padding: 1rem;
	background: linear-gradient(var(--color4) 30%, var(--color3) 85%);
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	.panel-body {
		background-color: var(--color4);
		border-radius: 1rem;
		font-size: 2rem;
	}
}
.form {
	position: relative;
	font-size: 0.8rem;

	input::placeholder {
		color: transparent;
	}
	label::after {
		content: "請輸入欲顯示的 ☆ 數量";
		position: absolute;
		top: 9px;
		left: 26px;
		color: var(--color3);
		transition: transform 0.4s, color .4s;
	}
	input:focus ~ label::after,
	input:not(:placeholder-shown) ~ label::after {
		transform: translate(15px, -40px) scale(1.31);
		color: var(--color1);
	}
	input:invalid ~ label::after {
		content: "請輸入正規的整數";
		color: red;
		text-shadow: 1px 0 var(--color1);
	}
}
.btn {
	--bs-btn-bg: var(--color1);
	--bs-btn-border-color: var(--color1);
	--bs-btn-color: var(--color5);
	border-width: 2px;
	
	--bs-btn-hover-bg: var(--color4);
	--bs-btn-hover-border-color: var(--color1);

	--bs-btn-active-bg: var(--color2);
	--bs-btn-active-border-color: var(--color2);
}

.monitor {
	min-height: 30vh;
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-weight: 600;
	p {
		width: 100%;
	}
}
.line-index {
	margin-right: 1rem;
	display: inline-block;
	width: 3rem;
	font-weight: 600;
	text-align: right;
}
