@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

:root {
	--white: #fff;
	--gold: #f5b103;
	--navy: #2b3f7e;
	--darknavy: #1e3358;
}

body {
	min-height: 100vh;
	background: linear-gradient(45deg, var(--white) 50%, var(--navy) 50%);
	font-family: "Noto Sans TC", "Helvetica Neue";
}

.panel {
	width: 320px;
	height: 320px;
	background-color: var(--navy);
	border: 1.5rem solid var(--navy);
	border-bottom-left-radius: 1.5rem;
}

.panel-body {
	/* width: 100%; */
	height: 100%;
	background-color: var(--white);
	border-radius: 1rem;
}
.info {
	font-size: 1.6rem;
	font-weight: 900;
	color: var(--gold);
	text-shadow: 2px 2px var(--darknavy);
}

.input-box {
	text-align: center;
	position: relative;
}

input {
	border: none;
	text-align: center;
	max-width: 10rem;
	border-radius: 9rem;
	background-color: #fff;
	border: 1px solid var(--darknavy);
	position: relative;

	&::placeholder {
		color: transparent;
	}
	&:focus, &:not(:placeholder-shown) {
		& ~ label::before {
			transform: translateY(2.25rem);
			color: #222;
		}
	}
}

label {
	&::before {
		content: "輸入文字以反序";
		display: block;
		width: 100%;
		position: absolute;
		font-size: 1rem;
		color: #888;
		top: 0;
		left: 0;
		transition: .4s;
		pointer-events: none;
	}
}

.result {
	width: 80%;
	height: 2.5rem;
	background-color: var(--gold);
	color: var(--darknavy);
	border-radius: 9rem;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 900;
	line-height: 1.5;

	&.active {
		animation: blink 0.2s linear 1;
	}
}

@keyframes blink {
	0% {
		background-color: var(--gold);
	}
	50% {
		background-color: hsl(43, 98%, 79%);
	}
	100% {
		background-color: var(--gold);
	}
}
