@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

body {
	background-color: #333;
	min-height: 100vh;
	font-family: "Noto Sans TC", "Helvetica Neue";
}

.panel {
	padding: 0.5rem;
	background-color: #666;
	border-radius: 1.5rem;
}

.panel-body {
	background-color: #999;
	border-radius: 1rem;
}